server:
  port: 9093

spring:
  flyway:
    baseline-on-migrate: true
  datasource:
    url: jdbc:postgresql://localhost:5432/roomsDB
    username: michael
    password: jinwoo2912
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs


eureka:
  instance:
    hostname: localhost
  client:
    service-Url:
      defaultZone: http://localhost:8761/eureka